@font-face{font-family:'Barlow Condensed';font-weight:600;src:url(BarlowCondensed-600.woff2) format('woff2');}
@font-face{font-family:'Barlow Condensed';font-weight:700;src:url(BarlowCondensed-700.woff2) format('woff2');}
@font-face{font-family:'Barlow Condensed';font-weight:800;src:url(BarlowCondensed-800.woff2) format('woff2');}
@font-face{font-family:'Barlow Condensed';font-weight:900;src:url(BarlowCondensed-900.woff2) format('woff2');}
@font-face{font-family:'Plus Jakarta Sans';font-weight:500;src:url(PlusJakartaSans-500.woff2) format('woff2');}
@font-face{font-family:'Plus Jakarta Sans';font-weight:600;src:url(PlusJakartaSans-600.woff2) format('woff2');}
@font-face{font-family:'Plus Jakarta Sans';font-weight:700;src:url(PlusJakartaSans-700.woff2) format('woff2');}
@font-face{font-family:'Plus Jakarta Sans';font-weight:800;src:url(PlusJakartaSans-800.woff2) format('woff2');}
